/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/dist
.swc
/.umirc.dev.ts
/.umirc.pro.ts
/.umirc.tes.ts
/tes-dist
/dev-dist
/pro-dist
/beta-dist
*.zip
